@mixin default-text() {
  color: #409eff;
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus {
    color: mix(#fff, #409eff, 20%);
    background-color: transparent;
    border-color: transparent;
  }

  &:active {
    color: mix(#fff, #409eff, 10%);
    background-color: transparent;
    border-color: transparent;
  }

  &:disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      color: #c0c4cc;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

@mixin variable-text($color) {
  color: $color;
  background-color: transparent;
  border-color: transparent;

  & > .v-icon {
    color: $color;
  }
  & > svg.v-loading path {
    stroke: $color;
  }


  &:hover,
  &:focus {
    color: mix(#fff, $color, 20%);
    background-color: mix(#fff, $color, 90%);
    border-color: transparent;

    > .v-icon {
      color: mix(#fff, $color, 20%);
    }
  }

  &:active {
    color: $color;
    background-color: mix(#fff, $color, 90%);
    border-color: transparent;

    > .v-icon {
      color: mix(#fff, $color, 90%);
    }
  }

  &:disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      color: mix(#fff, $color);
      background-color: transparent;
      border-color: transparent;

      > .v-icon {
        color: mix(#fff, $color);
      }

      > svg.v-loading path {
        stroke: mix(#fff, $color);
      }
    }
  }
}

@mixin text($color) {
  @if $color == default {
    @include default-text()
  } @else {
    @include variable-text($color)
  }
}
