@import "./mixin/underline.scss";
@import "./mixin/variant.scss";

.v-link {
  &__anchor {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #605266;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    transition: 0.1s;

    &:hover {
      color: #409eff;
    }

    &.is-underline {
      @include default-underline()
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    .v-link__anchor {
      pointer-events: none;
      color: #c0c4cc;
    }
  }

  &.as-button {
    padding: 0.75rem 1.25rem;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    padding: 0.5625rem 0.928rem;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    color: #605266;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }

  &.--primary {
    @include variant(#0065d8);
  }
  &.--success {
    @include variant(#00995e);
  }
  &.--warning {
    @include variant(#f08300);
  }
  &.--danger {
    @include variant(#cc002c);
  }
  &.--info {
    @include variant(#4d5aaf);
  }
  &.--dark {
    @include variant(#343a40);
  }
}
