@import "./mixin/outline.scss";
@import "./mixin/text.scss";
@import "./mixin/variant.scss";

.v-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.75rem 1.25rem;
  color: #605266;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  outline: none;
  appearance: none;
  transition: 0.1s;

  &:hover,
  &:focus {
    color: #409eff;
    background-color: mix(#fff, #409eff, 90%);
    border-color: mix(#fff, #409eff, 70%);
  }

  &:active {
    color: #605266;
    background-color: mix(#fff, #409eff, 90%);
    border-color: #409eff;
  }

  &:disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      color: #c0c4cc;
      background-color: #fff;
      border-color: #e4e7ed;
    }
  }

  & > .v-loading,
  & > .v-icon {
    margin-right: 6px;
  }

  &.is-fluid {
    width: 100%
  }

  &.is-round {
    border-radius: 20px;
  }

  /** Outlined */
  &.--outline {
    @include outline(default)
  }

  /** Plain */
  &.--text {
    @include text(default)
  }

  &.--primary {
    @include variant(#fff, #0065d8);
  }
  &.--success {
    @include variant(#fff, #00995e);
  }
  &.--warning {
    @include variant(#fff, #f08300);
  }
  &.--danger {
    @include variant(#fff, #cc002c);
  }
  &.--info {
    @include variant(#fff, #4d5aaf);
  }
  &.--dark {
    @include variant(#fff, #343a40);
  }
}
